body{
    min-height:100vh;
    font-family: 'Permanent Marker', cursive;
}

.jumbotronStyle{
    background-image:url('../images/chalkboard.jpg');
background-size:cover;
/*height:200em;*/
max-width:960px;
margin:auto auto;
padding:0;

}
/*.showMan{
    display:none;
}*/
.gameMessages{
    color: #ffffff;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
}

.insideContainerStyle{
    height:600px;
}

.scoreTab{
    background-color:rgb(132,100,64);
    top:0;
   height:2.5em;
}
#score{
    height:1.2em;
    float:left;
}

/*drop down hint section*/
.wrapper{
    
}

.hintBtn{
    float:right;
    position:relative;
}

.hintBtn:hover:focus{
    outline:none;
}
.hintWord{
    margin:0;
    float:right;
    position: relative;
    top: 20px;
    background-color: yellow;
    z-index: -1;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
#score,.gameTitle{
    margin:0;
    color:#ffffff !important;
}

.gameTitle{
    display:flex;
    justify-content: center;
    margin:0 auto;
}
.gameMiddleRow{
    height:250px;
    /*border:2px solid black;*/
}

.middleRowSplit1,.middleRowSplit2{
    height:250px;
    /*border:2px solid grey;*/
    padding-left:4.5em;
    padding-right:4.5em;
}

.middleRowSplit1{
    position:relative;
    padding-right:0;

}



/*hangman position and styling*/

.imgStyle{
    position:absolute;
    max-width:25em;
   height:auto;
}

.imghangMan{
   max-width:10em;
   left:0;
}



.manHead{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 5em;
    left: 18.2em;
    top: 3em;
}
.manTorso{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 5em;
    left: 17.5em;
    top: 6em;
}
.rightHand{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 10em;
    left: 15.0em;
    top: 4.3em;
}

.leftHand{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 9em;
    left: 17.2em;
    top: 3.7em;
}

.rightLeg{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 9em;
    left: 16.3em;
    top: 7.4em;

}
.leftLeg{
    position: absolute;
    /* height: 20em; */
    /* top: 0; */
    /* left: 0; */
    max-width: 9em;
    left: 17.1em;
    top: 5.3em;

}


#alphabet{
    position:absolute;
    top:25%;
    /*border:2px solid wheat;*/
    height:5em;
    width:18em;
    font-size:1.4em;
    color:#ffffff;
}


.gameLastRow{
    position:relative;
    height:275px;
    /*border:2px solid black;*/
}

#placehere{
    position: absolute;
    left: 2em;
    width: 50em;
    /* margin-left: 10em; */
    margin-top: 4em;
    /* padding-right: 15px; */
}



/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .buttonItem{
    position: absolute;
    height: 5.5em;
    /*border: 1px solid blue;*/
    /* margin-top: 10em; */
    bottom: -2em;
    left: 14.0em;
    color: white;
    width: 20.5em;
    padding: 0 auto;
    background: url(../images/start.png) no-repeat center;
    background-size: contain;
    text-align: center;
    padding: 1.4em;
  }
.startText{
        /* display: flex; */
        height: 2.5em;
        margin: 0;
        /* width: 1em; */
        align-items: center;
        justify-content: center;
}

.buttonItem:hover{
    cursor: pointer;
}

#placehere>span{
    color:white;
    font-size:20px;
}